[all]
master.example.com

[all:vars]
master_hostname=

[master]
master.example.com

[fast_nodes]
fastnode.example.com

[fast_nodes:vars]
# List of cores to be isolated
isolated_cores=2-3

# Number of whole cores to reserve exclusively for the cpumanager pod.
exclusive_cores=2

# Amount of memory to set in requests/limits for the cpumanager pod.
memory=2G

# number of hugepages to be allocated on the host
nr_hugepages=100
